@media screen and (max-width:758px) {
    nav{
        flex-direction: column
    }    
    .first_box{
        display: flex;
        justify-content: space-between;
    }
    .second_box{
        display: none;
        justify-content: center
    }
    .second_box ul{
        width:100%;
        flex-direction: column;
        align-items: center;
        margin:0px;
        padding:25px 0px;
        text-align: center;
    }
    .second_box li {
        padding:15px 0px;
        border-radius: 0px;
        width:100%;
    }
    .third_box{
        display: none;
        justify-content: center;
    }
    .toggle_btn{
        display: block;
    }
    .second_box.active,
    .third_box.active{
    display: flex;
    }
}